@CHARSET "UTF-8";
table.main {
	width: 100%;
	height: 100%;
}

table.main th {
	height: 60px;
}

table.main td {
	vertical-align: top;
}

table.main .logo {
	width: 160px;
	vertical-align: middle;
}

table.main .nav {
	width: 600px;
	height: 30px;
	float: left;
	padding-top: 30px;
	white-space: nowrap;
}

table.main .nav li {
	width: 70px;
	float: left;
	padding: 0px 2px;

}
table.main .link a {
padding: 0px 6px;
color: #666666;
text-decoration: none;
}

table.main .nav li a {
	height: 30px;
	line-height: 30px;
	display: block;
	padding: 0px 6px;
	font-size: 14px;
	font-weight: bold;
	color: #488bd1;
	text-align: center;
	outline: none;
	blr: expression(this.hideFocus = true);
}

table.main .nav li a:hover, table.main li a.current {
	height: 28px;
	line-height: 28px;
	border-bottom: 2px solid #0099cc;
}

table.main .link {
	width:400px;
	height: 29px;
	line-height:29px;
	float: right;
	clear: right;
	text-align: right;

}
table.main .welcome{
	font-size:20px;
	color:blue;
}

table.main .link a {
	padding: 0px 6px;
}

